.wrapper {
    @media screen and (max-width: 1199px) {
        display: flex;
        align-items: stretch;
        position: relative; ///
    }

    overflow-x:hidden;

    .header {
        background-color: transparent;
        position: absolute;
        inset: 0 0 auto 0;
        z-index: 10;

        &.--fixedTop {
            position: fixed;

            @media screen and (min-width:1200px) {

                @include animation(1s, 1, forwards) {
                    50% {
                        transform: translateY(-800%);
                    }

                    100% {
                        transform: translateY(0);
                        background-color: $color-white;
                    }
                }

            }
        }

        @media screen and (max-width: 1199px) {
            width: 300px;
            transition: left .5s;
            min-height: 100vh;
            left: -300px;
            background-color: $color-white;

            &.--expanded {
                left: 0;
            }
        }

        .container {

            .navbar {
                padding: 0;

                @media screen and (max-width: 1199px) {
                    flex-direction: column;
                    gap: 3rem;

                }

                .navbar-brand {
                    padding: 0;
                    margin: 0;

                    &.animate__animated.animate__fadeInLeftBig {
                        animation-duration: .25s;
                    }

                    img {
                        height: 8rem;

                        @media screen and (min-width:1200px) {
                            &.--hidden {
                                // visibility: hidden;
                                display: none;
                            }
                        }

                        @media screen and (max-width: 1199px) {
                            height: 10rem;
                        }
                    }
                }

                .navbar-collapse {
                    display: flex;
                    justify-content: flex-end;
                    gap: 1.5rem;

                    &.animate__animated.animate__fadeInLeftBig {
                        animation-duration: .15s;
                        animation-delay: .15s;
                    }

                    @media screen and (max-width: 1199px) {
                        flex-direction: column; //
                        justify-content: flex-start;
                    }

                    .navbar-nav {
                        align-items: center;
                        gap: 4rem;

                        @media screen and (max-width: 1199px) {
                            flex-direction: column;
                            gap: 0;
                        }

                        .nav-item {
                            @media screen and (max-width: 1199px) {
                                width: 100%;
                                text-align: center;
                            }

                            .nav-link {
                                @include text($size: $text-s);
                                @extend %text-nav-hover;
                                position: relative;
                                padding-bottom: 1.5rem;

                                @media screen and (min-width: 1200px) {
                                    @include text($size: $text-s, $weight: $text-semibold);
                                    display: inline-block;
                                    padding: 2.5rem 0;

                                    &.--custom {
                                        padding: 1.5rem 0;
                                    }

                                    &::after {
                                        content: "";
                                        position: absolute;
                                        bottom: 0;
                                        left: 50%;
                                        transform: translate(-50%, 50%);
                                        width: 0px;
                                        height: 0px;
                                        border-radius: 50%;
                                        background-color: $text-c1-accent;
                                        transition: all 0.25s;
                                    }
                                }

                                i {
                                    display: none;

                                    @media screen and (max-width: 1199px) {
                                        display: inline;
                                        position: absolute;
                                        inset: 50% 0 auto auto;
                                        transform: translateY(-50%);
                                    }
                                }
                            }

                            &.active .nav-link {
                                @media screen and (max-width: 1199px) {
                                    @include text($size: $text-s, $weight: $text-semibold);
                                }

                                @media screen and (min-width: 1200px) {
                                    &::after {
                                        width: 7px;
                                        height: 7px;
                                    }
                                }
                            }

                            &:hover .nav-link::after {
                                @media screen and (min-width: 1200px) {
                                    width: 10px;
                                    height: 10px;
                                }
                            }

                            .header__btn-infor {
                                @extend %button;
                                @media screen and (max-width: 1199px) {
                                    margin-top: 3rem;
                                }
                            }
                        }
                    }

                    .header__contact {
                        justify-content: center;
                        gap: 1rem;

                        &>i {
                            font-size: $text-s;
                            @extend %text-nav-hover;
                        }
                    }
                }
            }
        }
    }

    .resizeHeader {
        display: none;
        position: absolute;
        inset: 0 0 auto 0;
        background-color: $color-white;
        z-index: 11;

        &.--fixedTop {
            @media screen and (max-width:1199px) {
                position: fixed;

                @include animation(1s, 1, forwards) {
                    50% {
                        transform: translateY(-800%);
                    }

                    100% {
                        transform: translateY(0);
                    }
                }

            }
        }

        @media screen and (max-width: 1199px) {
            display: block;

            &.--expanded {
                left: 300px;
            }
        }

        .container {
            gap: 2rem;
            max-width: 95%;

            .toggler {
                width: 24px;
                height: 22px;
                position: relative;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 2px;
                    display: block;
                    background-color: $text-c1-accent;
                    position: absolute;
                    transition: all .25s;
                    transform: rotate(0deg);
                }

                span:nth-child(1) {
                    top: 0;
                }

                span:nth-child(2) {
                    opacity: 1;
                    top: 10px;
                    left: 0;
                }

                span:nth-child(3) {
                    top: 20px;
                }

                &.open span:nth-child(1) {
                    top: 10px;
                    transform: rotate(135deg);
                }

                &.open span:nth-child(2) {
                    opacity: 0;
                    left: -20px;
                }

                &.open span:nth-child(3) {
                    top: 10px;
                    transform: rotate(-135deg);
                }
            }

            .resizeHeader__brand {
                img {
                    width: 5rem;
                }

                &.--hidden {
                    visibility: hidden;
                }
            }
        }
    }
}

%text-nav-hover {
    transition: color .5s;

    &:hover {
        cursor: pointer;
        color: $text-c1-accent;
    }
}