//text size variable
$text-xs: 1.125rem;
$text-s: 1.35rem;
$text-md: 1.5rem;
$text-l: 1.65rem;
$text-xl: 2.325rem;
$text-2xl:  3.75rem;
$text-3xl: 5.7rem;

//text color variable
$text-c1-primary: #181818;
$text-c1-secondary: #191919;
$text-c1-accent: #b61984;
$color-white: #fff;
$color-pale-pink: #f78da7;

// text weight variable
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;